<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | NexDesk</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

  
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")*@

    @using TestWebApp.Models
  
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-content-full-height">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="/Home" class="navbar-brand"><img src="~/Content/Images/nex_logo_dark_25pt.png" alt="logo" /></a>
               
                </div>
                <br />
                <hr class="divider" />
                <br />
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
           
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar sidebar-right">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
             
                <!-- end sidebar user -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                @if (ViewBag.Parents != null)
                {
                    foreach (KeyValuePair<string, string> item in ViewBag.Parents)
                    {
                        if (item.Value == null)
                        {
                            <li class="active">@item.Key</li>
                        }
                        else
                        {
                            <li><a href="@item.Value">@item.Key</a></li>
                        }
                    }
                }
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">@ViewBag.Title <small></small></h1>
            <!-- end page-header -->
            <!-- Page Content Here -->
            @if (ViewBag.IsNotValid == true || ViewBag.Error != null || ViewBag.Message != null || ViewBag.Success != null)
            {
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Message</h4>
                    </div>
                    <div class="panel-body">
                        @if (ViewBag.IsNotValid == true)
                        {
                            <div class="alert alert-warning fade in m-b-15">
                                @Html.ValidationSummary()
                            </div>
                        }
                        @if (ViewBag.Error != null)
                        {
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                            <label class="text-danger">@ViewBag.Error</label>
                        }
                        @if (ViewBag.Message != null)
                        {
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <label class="text-success">@ViewBag.Message</label>
                        }
                        @if (ViewBag.Success != null)
                        {
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <label class="text-info">@ViewBag.Success</label>


                        }
                    </div>
                </div>
            }
            @RenderBody()
        </div>
        <!-- end #content -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- end scroll to top btn -->
    </div>
    
    
    
</body>
</html>