@using TestWebApp.Models
@model User
@{
    ViewBag.Title = "UserDetails";
    
}

<h2>UserDetails:</h2>
<h4>User Name: @Model.username</h4>
<h4>User Permission: @Roles.GetRolesForUser(@Model.username)[0]</h4>
<h4>Phone: @Model.phone</h4>
<h4>Support groups: </h4>
  @foreach (SupportGroup sg in @Model.Groups)
        {
      <label class="alert-warning">@sg.name [ SupportLevel: @sg.level]</label>
      <br />
        }
