@using TestWebApp.Models
@using PagedList
@using PagedList.Mvc
@{
    HermesDBEntities hDesk = new HermesDBEntities();
    ViewBag.Title = "Contact Persons";
}
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Workstations</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                @foreach (Contact c in ViewBag.Contacts)
                {
                    <tr>
                        <td>@Html.ActionLink(@c.firstName +" " + @c.lastName, "Details/" + @c.id)</td>
                        <td>@c.address</td>
                        <td>@c.email</td>
                        <td>@c.phone</td>
                    </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList<Contact>)ViewBag.Contacts, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { page }))

        </div>
    </div>
</div>
