@using TestWebApp.Models
@using PagedList
@using PagedList.Mvc

@model HelpDeskEntities
@{
    ViewBag.Title = "Overview";
}
<div class="row">
    <div class="col-md-4">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-file-text-o"></i></div>
            <div class="stats-info">
                <h4>Not Solved Tickets</h4>
                <p>@ViewBag.notSolvedIssuesCount</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("List_My_Not_Done", "Ticket")">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>

            <ul class="list-group">
                @foreach (Ticket ticket in (IPagedList<Ticket>)ViewBag.notSolvedIssues)
                {
                    <li class="list-group-item">@Html.ActionLink(String.Format("{0} | {1} | {2}", ticket.ticketId, ticket.subject, ticket.TimeAgo(ticket.createdAt)), "Details/" + ticket.id, "Ticket")</li>
                }
            </ul>
            @if (ViewBag.notSolvedIssuesCount > 10)
            {
                @Html.PagedListPager((IPagedList<Ticket>)ViewBag.notSolvedIssues, pageNotDone => Url.Action("Index/", new { pageNotDone, pageDone = Request.QueryString["pageDone"] }))
            }
            





        </div>
    </div>

    <div class="col-md-4">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-file-text-o"></i></div>
            <div class="stats-info">
                <h4>Solved Tickets</h4>
                <p>@ViewBag.solvedIssuesCount</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("List_My_Done", "Ticket")">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>

            <ul class="list-group">
                @foreach (Ticket ticket in (IPagedList<Ticket>)ViewBag.solvedIssues)
                {
                    <li class="list-group-item">@Html.ActionLink(String.Format("{0} | {1} | {2}", ticket.ticketId, ticket.subject, ticket.TimeAgo(ticket.createdAt)), "Details/" + ticket.id, "Ticket")</li>
                }
            </ul>
            @if (ViewBag.solvedIssuesCount > 10)
            {
                @Html.PagedListPager((IPagedList<Ticket>)ViewBag.solvedIssues, pageDone => Url.Action("Index/", new { pageDone, pageNotDone = Request.QueryString["pageNotDone"] }))
            }
        </div>
    </div>

</div>