@using TestWebApp.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Přehled";
    HelpDeskEntities hDesk = new HelpDeskEntities();
    User current_user = hDesk.Users.SingleOrDefault(u=>u.id == WebSecurity.CurrentUserId);
}
<br />
<div class="row">
    @if (Roles.IsUserInRole("Support") && current_user.webpages_Roles.SingleOrDefault(r => r.level == 1) != null)
    {
        <div class="col-md-4">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon"><i class="fa fa-file-o"></i></div>
                <div class="stats-info">
                    <h4>Nové zájezdy</h4>
                    <p>(@ViewBag.NewIssuesCount)</p>
                </div>
                <div class="stats-link">
                    <a href="@Url.Action("Index", "TravelEvent")">Prohlédnout nové zájezdy <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>

                <ul class="list-group">
                    @foreach (TravelEvent travelEvent in ViewBag.NewTravelEvents)
                    {
                        <li class="list-group-item">@Html.ActionLink(String.Format("{0}", travelEvent.Name), "Details/" + travelEvent.Id, "TravelEvent")</li>
                    }
                </ul>
            </div>
        </div>
    }

    <div class="col-md-4">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-file-text-o"></i></div>
            <div class="stats-info">
                <h4>Zlevněné zájezdy</h4>
                <p>(@ViewBag.DiscountedTravelEventsCount)</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("Index", "TravelEvent")">Prohlédnout zlevněné zájezdy <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>

            <ul class="list-group">
                @foreach (TravelEvent travelEvent in ViewBag.DiscountedTravelEvents)
                {
                    <li class="list-group-item">@Html.ActionLink(String.Format("{0}", travelEvent.Name), "Details/" + travelEvent.Id, "TravelEvent")</li>
                    break;
                }
            </ul>
        </div>
    </div>
</div>

