@using TestWebApp.Models;
@model Ticket
@{
    HelpDeskEntities hDesk = new HelpDeskEntities();
    User current_user = hDesk.Users.SingleOrDefault(u => u.username == WebSecurity.CurrentUserName);
    ViewBag.Title = "Create Ticket";
    ViewBag.Parents = new LinkedList<KeyValuePair<string, string>>();
    ViewBag.Parents.AddLast(new KeyValuePair<string, string>("Own", "/Ticket/List_Own"));
    ViewBag.Parents.AddLast(new KeyValuePair<string, string>("Create", null));

    List<SelectListItem> products = new List<SelectListItem>();
    foreach (Product p in (new HelpDeskEntities()).Products)
    { products.Add(new SelectListItem { Text = p.name, Value = p.id.ToString() }); }
    string author = Model == null ? current_user.fullName : Model.author_;
    int authorId = Model == null ? current_user.id : Model.authorId;
}
<script type="text/javascript">
    /* modal selection */
    $(document).ready(function () {
        $('#customer').modalSelection({
            'url': '@Url.Action("getFiltered", "User")',
            'filters': {
                'Region': [@foreach(Region region in Region.all()) // toto vygeneruje seznam filtrů (aktuálně seznam regionů)
                            {
                                @Html.Raw("{ 'id': "+ region.id +", 'name': '"+ region.name +"' },")
                            }
                          ],
                'User Type': [{ 'id': 'false', 'name': 'retailer' }, { 'id': 'true', 'name': 'solutionist' }]
            },
            'resultTitle': 'Users',
            'resultName': 'authorId',
            'startValue': [[ @authorId, '@author' ]] // výchozí hodnota
        });
    });
</script>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">New Ticket</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("Create", "Ticket", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="subject_" class="col-md-3 control-label ui-sortable">Subject:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(t => t.subject_, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productId_" class="col-md-3 control-label ui-sortable">Products:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.DropDownListFor(t => t.productId_, products, "Select product", new { @class = "form-control" })
                        </div>
                    </div>
                    if ((Roles.GetRolesForUser()[0] == "Support" && current_user.webpages_Roles.SingleOrDefault(r => r.level == 1) != null) || current_user.webpages_Roles.SingleOrDefault(r => r.RoleName == "SuperUser") != null)
                    {
                        <div class="form-group">
                            <label class="col-md-3 control-label ui-sortable">Customer:</label>
                            <div class="col-md-9 ui-sortable" id="customer">
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label for="text_" class="col-md-3 control-label ui-sortable">Issue:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextAreaFor(t => t.text_, 10, 22, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label ui-sortable">Actions</label>
                        <div class="col-md-9 ui-sortable">
                            <button class="btn btn-success">Create ticket</button>
                            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
            
          </div>
    </div>
</div>
