@model TestWebApp.Models.Workstation
@{
    ViewBag.Title = "Edit Workstation";
}

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Workstation Details</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("Edit/"+@Model.id, "Workstation", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label ui-sortable">Name:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.wsName_, new {value = Model.wsName, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.wsName_, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wsOwner" class="col-md-3 control-label ui-sortable">Owner:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.wsOwner_, new {value = Model.wsOwner, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.wsOwner_, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="manufacturer" class="col-md-3 control-label ui-sortable">Manufacturer:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.wsManufacturer_, new {value=  Model.wsManufacturer, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.wsManufacturer_, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="os" class="col-md-3 control-label ui-sortable">Operating system:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.osType_, new {value = Model.osType, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.osType_, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="level" class="col-md-3 control-label ui-sortable">Actions:</label>
                        <div class="col-md-9 ui-sortable">
                            <button class="btn btn-success">Update Workstation</button>
                            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">


            </div>
        </div>
    </div>
</div>
