@using TestWebApp.Models
@using PagedList
@using PagedList.Mvc
@{
    HelpDeskEntities hDesk = new HelpDeskEntities();
    ViewBag.Title = "Workstations";
}
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Workstations</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Manufacturer</th>
                    <th>Operating System</th>
                </tr>
                @foreach (Workstation w in ViewBag.Workstations)
                {
                    <tr>
                        <td>@Html.ActionLink(@w.wsName, "Details/" + @w.id)</td>
                        <td>@w.wsOwner</td>
                        <td>@w.wsManufacturer</td>
                        <td>@w.osType</td>
                    </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList<Workstation>)ViewBag.Workstations, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { page }))

        </div>
    </div>
</div>
