@using TestWebApp.Models
@model IEnumerable<User>
@{
    ViewBag.Title = "Export users";
    //form for exporting users
}
@using (@Html.BeginForm())
{
    <a class="btn btn-success" href="@Url.Action("ExportToCSV","User")">Export to csv</a>

}
<br />
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">List</h4>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Tickets created</th>
                        <th>Tickets accepted</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TestWebApp.Models.User user in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(user.username, "Details", new { @id = user.id })</td>
                            <td>@user.webpages_Roles.First().RoleName</td>
                            <td>@user.Tickets.Count()</td>
                            <td>@Ticket.getAccepted_byUser(user.id).Count()</td>
                            <td>@(user.webpages_Membership.IsConfirmed ? "Active" : "Inactive")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Create","User")">New</a></li>
                <li><a href="@Url.Action("Import","User")">Import</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Index","Home")">Back to home</a></li>
            </ul>
        </div>
        <!--END  Single button -->

    </div>
</div>
