@using TestWebApp.Models;
@using PagedList;
@using PagedList.Mvc;
@model List<User>
@{
    ViewBag.Title = "Users";
}
<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Actions <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @if(Roles.IsUserInRole("SuperUser"))
        { 
            <li><a href="@Url.Action("Create","User")">New</a></li>
            <li><a href="@Url.Action("Import","User")">Import</a></li>
            <li><a href="@Url.Action("Export","User")">Export</a></li>
            <li class="divider"></li>
        }
        <li><a href="@Url.Action("Index","Home")">Back to home</a></li>
    </ul>
</div>
<br />
<!--END  Single button -->
<br />
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">List</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Tickets created</th>
                        <th>Tickets accepted</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User user in ViewBag.Users)
                    {
                        if(user.webpages_Roles.SingleOrDefault(r=> r.RoleName == "System")==null)
                        { 
                        <tr>
                            <td>@Html.ActionLink(user.fullName, "Details", new { @id = user.id })</td>
                            <td>@user.webpages_Roles.First().RoleName</td>
                            <td>@user.Tickets.Count()</td>
                            <td>@Ticket.getAccepted_byUser(user.id).Count()</td>
                            <td>@(user.webpages_Membership.IsConfirmed ? "Active" : "Inactive")</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList<User>)ViewBag.Users, page => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { page }))


        </div>
        @*@Html.ActionLink("New", "Create", null, new { @class = "btn btn-primary" })*@


    </div>
</div>
