@using System.Security.Cryptography
@using TestWebApp.Models
@model TestWebApp.Models.TravelContract
@{
    ViewBag.Title = "Vytvoř nový zájezd";
    HermesDBEntities hDesk = new HermesDBEntities();
    List<SelectListItem> Events = new List<SelectListItem>();
    foreach (TravelEvent eventItem in hDesk.TravelEvents)
    {
        Events.Add(new SelectListItem()
        {
            Text = eventItem.Name,
            Value = eventItem.Name
        });
    }
}


<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Nová rezervace</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("Create", "TravelContract", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="Name" class="col-md-3 control-label ui-sortable">Klientovo jméno:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.NameOfClient_, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NameOfClient, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Adress" class="col-md-3 control-label ui-sortable">Adresa:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.Adress_, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Count" class="col-md-3 control-label ui-sortable">Počet lidí:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.Quantity_, new {  @class = "form-control", @type = "number" })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Event" class="col-md-3 control-label ui-sortable">Vyberte zájezd:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.DropDownListFor(model => model.eventName, Events, new { @class = "form-control" })
                        </div>
                    </div>
                    <button class="btn btn-primary">Vytvoř rezervaci</button>
                }
            </div>
        </div>
    </div>
</div>
