@using TestWebApp.Models;
@using System.Collections;
@model Group
@{
    ViewBag.Title = "Support Group Details";
    HermesDBEntities hDesk = new HermesDBEntities();
    User current_user = hDesk.Users.SingleOrDefault(u => u.id == WebSecurity.CurrentUserId);
}

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Details</h4>
    </div>
    <div class="panel-body">
    @using (@Html.BeginForm("Details", "Group", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label for="name" class="col-md-1 control-label ui-sortable">Name:</label>
            <div class="col-md-2 ui-sortable">
                @Html.TextBox("Name", Model.name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Members:</label>
            <div class="col-md-4 ui-sortable">
                <table class="table">
                    <tbody>

    @foreach (User u in Model.Users)
    {
        <tr>
            <td>@Html.ActionLink(u.fullName, "Details/" + u.id, "User",null,new { @target = "_blank"})</td>
        </tr>

    }
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Actions</label>
            <div class="col-md-4 ui-sortable">
                @if(current_user.webpages_Roles.SingleOrDefault(r=>r.RoleName == "SuperUser")!= null)
                { 
                <button class="btn btn-success">Update Support Group</button>
                @Html.ActionLink("Destroy", "Remove", new { @id = Model.id }, new { @class = "btn btn-danger" }) <span></span>
                }
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
 </div>
