@using TestWebApp.Models;
@using System.Collections;
@model Group
@{
    ViewBag.Title = "";
    HermesDBEntities hDesk = new HermesDBEntities();
    User current_user = hDesk.Users.SingleOrDefault(u => u.id == WebSecurity.CurrentUserId);
}


    <div class="invoice">
        <div class="invoice-company">
            Blue travel, inc.
        </div>
        <div class="invoice-header">
            <div class="invoice-from">
                <small>pobočka</small>
                <address class="m-t-5 m-b-5">
                    <strong>@Model.name</strong><br>
                    Ulice<br>
                    Město, PSČ<br>
                    Telefon: (+420) 565-789-450<br>
                    Fax: (123) 456-7890
                </address>
            </div>
            <div class="invoice-to">
                <small>to</small>
                <address class="m-t-5 m-b-5">
                    <strong>Blue travel</strong><br>
                    Street Address<br>
                    City, Zip Code<br>
                    Phone: (123) 456-7890<br>
                    Fax: (123) 456-7890
                </address>
            </div>
            <div class="invoice-date">
                <small>Zřízena</small>
                <div class="date m-t-5">3. Března, 2012</div>
                <div class="invoice-detail">
                    číslo: 0000123DSS<br>
                    Pobočka
                </div>
            </div>
        </div>
        <div class="invoice-content">
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th>Jméno uživatele</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User u in Model.Users)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(u.fullName, "Details/" + u.id, "User", null, new { @target = "_blank" })<br>
                                    <small>Zaměstnanec společnosti blue travel s.r.o.</small>
                                </td>
                                <td>@u.email</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="invoice-footer text-muted">
            <p class="text-center m-b-5">
                BLUE TRAVEL
            </p>
            <p class="text-center">
                <span class="m-r-10"><i class="fa fa-globe"></i> bluetravel.net</span>
                <span class="m-r-10"><i class="fa fa-phone"></i> T:256-456-421</span>
                <span class="m-r-10"><i class="fa fa-envelope"></i> info@bluetravel.cz</span>
            </p>
        </div>
    </div>
    <!-- end invoice -->
<!--
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Details</h4>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label for="name" class="col-md-1 control-label ui-sortable">Name:</label>
            <div class="col-md-2 ui-sortable">
                @Html.TextBox("Name", Model.name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Members:</label>
            <div class="col-md-4 ui-sortable">
                <table class="table">
                    <tbody>

    @foreach (User u in Model.Users)
    {
        <tr>
            <td>@Html.ActionLink(u.fullName, "Details/" + u.id, "User",null,new { @target = "_blank"})</td>
        </tr>

    }
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Actions</label>
            <div class="col-md-4 ui-sortable">
                @if(current_user.webpages_Roles.SingleOrDefault(r=>r.RoleName == "SuperUser")!= null)
                { 
                <button class="btn btn-success">Update Support Group</button>
                @Html.ActionLink("Destroy", "Remove", new { @id = Model.id }, new { @class = "btn btn-danger" }) <span></span>
                }
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
 </div>
    -->
