@using TestWebApp.Models;
@using System.Collections;
@model Group
@{
    ViewBag.Title = "Support Group Details";
    HelpDeskEntities hDesk = new HelpDeskEntities();
    User current_user = hDesk.Users.SingleOrDefault(u => u.id == WebSecurity.CurrentUserId);
}
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<script type="text/javascript">
    // list controll
    function addRemoveAction(selector, productName) {
        $(selector).click(function () {
            $('#tr-' + productName).remove();
            return false;
        });
    }
    $(function () {
        $('#new-product tr').each(function (index) {
            var productName = $(this).find('input[type=hidden]').val();
            addRemoveAction('#tr-' + productName + ' div.btn', productName);
        });
        $('#btn-add').click(function () {
            var productName = $('#txtProducts').val();
            $('#txtProducts').val("");
            $('#new-product').append('<tr id="tr-' + productName + '"><td>' + productName + '</td><td><div class="btn btn-danger">Remove</div><input type="hidden" name="product_' + productName + '" value="' + productName + '"></td></tr>');
            addRemoveAction('#tr-' + productName + ' div.btn', productName);
            return false;
        });
    });
    //Autocomplete jquery.
    $(function () {
        $("#txtProducts").autocomplete({
            source: '@Url.Action("Get", "Product")'
        });
    });
</script>*@
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Details</h4>
    </div>
    <div class="panel-body">
    @using (@Html.BeginForm("Details", "Group", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label for="name" class="col-md-1 control-label ui-sortable">Name:</label>
            <div class="col-md-2 ui-sortable">
                @Html.TextBox("Name", Model.name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Level:</label>
            <div class="col-md-2 ui-sortable">
                @Html.TextBox("Level", Model.level, new { type = "number", @class = "form-control", @disabled = "true" })
            </div>
        </div>
        if(@Model.Tickets != null)
        { 
            <div class="form-group">
                <label class="col-md-1 control-label ui-sortable">Tickets:</label>
                <div class="col-md-1 ui-sortable">
                    @Html.ActionLink(@Model.Tickets.Count.ToString(), "List_Groups_Tickets", "Ticket", new {@group_id = @Model.id}, new { @class = "form-control", target = "_blank" })
                </div>
            </div>
        }
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Members:</label>
            <div class="col-md-4 ui-sortable">
                <table class="table">
                    <tbody>

    @foreach (User u in Model.Users)
    {
        <tr>
            <td>@Html.ActionLink(u.fullName, "Details/" + u.id, "User",null,new { @target = "_blank"})</td>
        </tr>

    }
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-1 control-label ui-sortable">Actions</label>
            <div class="col-md-4 ui-sortable">
                @if(current_user.webpages_Roles.SingleOrDefault(r=>r.RoleName == "SuperUser")!= null)
                { 
                <button class="btn btn-success">Update Support Group</button>
                @Html.ActionLink("Destroy", "Remove", new { @id = Model.id }, new { @class = "btn btn-danger" }) <span></span>
                }
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
 </div>
