@using TestWebApp.Models
@model IEnumerable<ProductsViewModel>
@{
    ViewBag.Title = "AssignProducts";
    HermesDBEntities hDesk = new HermesDBEntities();
    List<SelectListItem> groups = new List<SelectListItem>();
    foreach (SupportGroup sg in hDesk.SupportGroups)
    {
        SelectListItem sli = new SelectListItem { Text = sg.GroupName + "[SupportLevel: "+sg.SupportGroupLevel+"]", Value = sg.SupportGroupId.ToString() };
        groups.Add(sli);
    }
    
}

<h2>Assign products to groups: </h2>
@using (@Html.BeginForm())
{
<div class="row">
    <div class="col-md-6">
        <h4>Choose the group: </h4>
       
            @Html.DropDownList("Groups", groups, "Select group")
    </div>
    <div class="col-md-6">
     <h4>Select product(s): </h4>
     
            @Html.EditorForModel()
       
          <button class="btn btn-success">OK</button>
    </div>
    <br />
    <label class="alert-danger">@ViewBag.NothingChecked</label>
    <label class="alert-danger">@ViewBag.NoGroup</label>
    <label class="alert-success">@ViewBag.Success</label>

</div>
}
