<meta http-equiv="content-type" content="text/html; charset=+" />@using TestWebApp.Models
@using PagedList.Mvc;
@using PagedList;
@{
    HermesDBEntities hDesk = new HermesDBEntities();
    ViewBag.Title = "Reporty";
}
<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Reporty</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Jméno skupiny</th>
                    <th>Vygenerován</th>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Obnos peněz</th>
                </tr>
                @foreach (Report report in ViewBag.Reports)
                {
                    <tr>
                        <td>@report.Group.name</td>
                        <td>@report.GeneratedAt</td>
                        <td>@report.PeriodFrom</td>
                        <td>@report.PeriodTo</td>
                        <td>@report.AmountOfMoneyForPeriod</td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
