@using System.Security.Cryptography
@using TestWebApp.Models
@model TestWebApp.Models.Report
@{
    ViewBag.Title = "Vytvoř nový zájezd";
    HermesDBEntities hDesk = new HermesDBEntities();
    List<SelectListItem> Groups = new List<SelectListItem>();
    foreach (Group group in hDesk.Groups)
    {
        Groups.Add(new SelectListItem()
        {
            Text = group.name,
            Value = group.name
        });
    }
}
<script>
    $(document).ready(function () {
        $('#PeriodFrom').datetimepicker();
        $('#PeriodTo').datetimepicker();
    });
</script>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Vygenerujte nový report</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("Create", "Monitoring", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="Name" class="col-md-3 control-label ui-sortable">Od:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.PeriodFrom_, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PeriodFrom_, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Adress" class="col-md-3 control-label ui-sortable">Do:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.PeriodTo_, new {  @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PeriodTo_, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="Event" class="col-md-3 control-label ui-sortable">Vyberte Pobočku:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.DropDownListFor(model => model.groupName, Groups, new { @class = "form-control" })
                        </div>
                    </div>
                    <button class="btn btn-primary">Vygenerovat</button>
                }
            </div>
        </div>
    </div>
</div>
