@*begin sidebar nav*@
@using TestWebApp.Models
@{
    HelpDeskEntities hDesk = new HelpDeskEntities();
    User current_user = hDesk.Users.SingleOrDefault(u => u.id == WebSecurity.CurrentUserId);
}


<ul class="nav">
    <li class="nav-header">Navigation</li>
    <li>
        <a href="/"><i class="fa fa-newspaper-o"></i> <span>Overview</span></a>
    </li>
    <li class="has-sub @(ViewContext.Controller.GetType().Name == "TicketController" ? "active" : "")">

@if (Roles.IsUserInRole("Support"))
{

    <li class="has-sub @(ViewContext.Controller.GetType().Name == "GroupController" ? "active" : "")">
        <a href="javascript:;">
            <i class="fa fa-group"></i>
            <b class="caret pull-right"></b>
            <span>Skupiny</span>
        </a>
        <ul class="sub-menu">
            <li>@Html.ActionLink("Mé skupiny", "List_My_Groups", "Group")</li>
            <li>@Html.ActionLink("Všechny skupiny", "Index", "Group")</li>
               
        </ul>
    </li>
}
@if (Roles.IsUserInRole("SuperUser"))
{ 
    <li class="has-sub @(ViewContext.Controller.GetType().Name == "GroupController" ? "active" : "")">
        <a href="javascript:;">
            <i class="fa fa-group"></i>
            <b class="caret pull-right"></b>
            <span>Skupiny</span>
        </a>
        <ul class="sub-menu">
            
            <li>@Html.ActionLink("Vytvoř skupinu", "Create", "Group")</li>
            <li>@Html.ActionLink("Všechny skupiny", "Index", "Group")</li>
               
        </ul>
    </li>
}

@if (Roles.IsUserInRole("Support"))
{
    <li class="has-sub @(ViewContext.Controller.GetType().Name == "UserController" ? "active" : "")">
        <a href="javascript:;">
            <i class="fa fa-user"></i>
            <b class="caret pull-right"></b>
            <span>Uživatelé</span>
        </a>
        <ul class="sub-menu">
            <li>@Html.ActionLink("Ostatní uživatelé", "Index", "User")</li>
        </ul>
    </li>
}
@if (Roles.IsUserInRole("SuperUser"))
{
    <li class="has-sub @(ViewContext.Controller.GetType().Name == "UserController" ? "active" : "")">
        <a href="javascript:;">
            <i class="fa fa-user"></i>
            <b class="caret pull-right"></b>
            <span>Uživatelé</span>
        </a>
        <ul class="sub-menu">
            <li>@Html.ActionLink("Uživatelé", "Index", "User")</li>
            <li>@Html.ActionLink("Vytvoř uživatele", "Create", "User")</li>

        </ul>
    </li>
}


    @if (Roles.IsUserInRole("SuperUser"))
    {
        <li class="has-sub @(ViewContext.Controller.GetType().Name == "ProductController" ? "active" : "")">
            <a href="javascript:;">
                <i class="fa fa-suitcase"></i>
                <b class="caret pull-right"></b>
                <span>Katalog zájezdů</span>
            </a>
            <ul class="sub-menu">
                <li>@Html.ActionLink("Všechny zájezdy", "Index", "TravelEvent")</li>
                <li>@Html.ActionLink("Vytvoř zájezd", "Create", "Product")</li>
            </ul>
        </li>

    }
    else
    {
        <li class="has-sub @(ViewContext.Controller.GetType().Name == "ProductController" ? "active" : "")">
            <a href="javascript:;">
                <i class="fa fa-suitcase"></i>
                <b class="caret pull-right"></b>
                <span>Katalog zájezdů</span>
            </a>
            <ul class="sub-menu">
                <li>@Html.ActionLink("Všechny zájezdy", "Index", "TravelEvent")</li>
                <li>@Html.ActionLink("Vytvoř zájezd", "Create", "TravelEvent")</li>
            </ul>
        </li>
    }

    <li class="has-sub @(ViewContext.Controller.GetType().Name == "RegionController" ? "active" : "")">
        <a href="javascript:;">
            <i class="fa fa-circle"></i>
            <b class="caret pull-right"></b>
            <span>Regiony</span>
        </a>
        <ul class="sub-menu">

            <li>@Html.ActionLink("Všechny pobočkové regiony", "Index", "Region")</li>
            @if(Roles.IsUserInRole("SuperUser"))
            { 
            <li>@Html.ActionLink("Vytvoř region pro pobočky", "Create", "Region")</li>
            }
            <li>@Html.ActionLink("Všechny regiony zájezdů", "Index", "TravelRegion")</li>
        </ul>
    </li>

    <li class="has-sub @(ViewContext.Controller.GetType().Name == "ContactPersonController" ? "active" : "")">
        <a href="javascript:;">
            <i class="fa fa-male"></i>
            <b class="caret pull-right"></b>
            <span>Contact Persons</span>
        </a>
        <ul class="sub-menu">
            <li>@Html.ActionLink("Všechny kontakty", "Index", "ContactPerson")</li>
            @if (Roles.IsUserInRole("SuperUser"))
            {
                <li>@Html.ActionLink("Vytvoř k. osobu", "Create", "ContactPerson")</li>
            }
        </ul>
    </li>

    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
</ul>
@*end sidebar nav*@ 