@using TestWebApp.Models
@model Dealer
@{
    ViewBag.Title = "Edit Customer Group";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#customers').modalSelection({
            'url': '@Url.Action("getFilteredRetailers", "User")',
            'filters': {
                'Region': [@foreach(Region region in Region.all()) // toto vygeneruje seznam filtrů (aktuálně seznam regionů)
                           {
                               @Html.Raw("{ 'id': "+ region.id +", 'name': '"+ region.name +"' },")
                           }
                          ]
            },
            'resultTitle': 'Customers',
            'resultName': 'customer',
            'multipleSelect': true,
            'startValue':[@foreach(Retailer retailer in Model.Retailers.OrderBy(r => r.name))
                          {
                              @Html.Raw(String.Format("['{0}', '{1}'], ", retailer.userId, retailer.name))
                          }
                         ]
        });
    });
</script>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Customer Group Details</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @using (@Html.BeginForm("Edit/" + @Model.id, "Dealer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label ui-sortable">Name:</label>
                        <div class="col-md-9 ui-sortable">
                            @Html.TextBoxFor(model => model.name_, new { value = Model.name, @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.name_, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label ui-sortable">Customers:</label>
                        <div class="col-md-9 ui-sortable" id="customers">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="level" class="col-md-3 control-label ui-sortable">Actions:</label>
                        <div class="col-md-9 ui-sortable">
                            <button class="btn btn-success">Update Group</button>
                            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
